*{
    padding: 0;
    margin: 0;
    background-color: rgb(192, 192, 196);
}

#container{
    max-height: 100vh;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container header{
    text-align: center;
}

.break-session{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
    text-align: center;
}

#break-section, #session-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


